@import "src/shared/styles";

body {
  font-weight: 400;
  font-family: $f-roboto;
  line-height: 120%;
  font-family:'Nekst';
}

.layout{
  background-image: url("/images/menu-item/pattern.png");
  background-color:$green-bk;
  padding: 100px 0;
}

@media(min-width:#{$br-tablet}px) {
  .layout{
    background-image: url("/images/menu-item/pattern.png");
    background-color:$green-bk;
    padding: 100px 0;
  }

}

@media(min-width:#{$br-desktop}px){
.layout{
  background-image: url("/images/menu-item/pattern.png");
  background-color:$green-bk;
  padding: 100px 0;
}

        
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: $f-montserrat;
}
