@import "src/shared/styles";

.input-radioButton__block {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  cursor: pointer;
}

.input-radioButton {
  display: none; /* Скрываем стандартный чекбокс */
}

.custom-radioButton {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #D8D8D8;
  border-radius: 20px;
  background-repeat: no-repeat; /* Не повторяем изображение */
  background-position: center; /* Центрируем изображение */
}

.custom-radioButton.active {
  background-image: url("/images/headers/radioDot.svg"); /* Изображение для отмеченного состояния */
}

/* Изменяем стиль при отмеченном чекбоксе */
.input-radioButton:checked + .custom-radioButton {
  background-image: url("/images/headers/radioDot.svg"); /* Изображение для отмеченного состояния */
}

.input-radioButton__text {
  color: #9B9B9B;
  font-size: 14px;
}

.input-radioButton__text.active {
  color: #000000;
}

.input-radioButton__label {
  display: flex;
  flex-direction: column;
}

.input-radioButton__sub-text {
  display: none;
}

.input-radioButton__sub-text.active {
  display: block;
  color: #009B3D;
}
