@import "src/shared/styles";

.basket-button {
  padding: 12px 36px;
  background-color: $orange;
  border-radius: 8px;
  color: $pure-white;
  font-size: 16px;
   transition: background 0.2s ease;
}

.basket-button:hover {
  background-color: $orange-hover;
}

.counter{
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
}

.count-button {
  height:40px;
  width: 40px;
  background-color: $orange;
  border-radius: 8px;
  font-size: 24px;
  color: $pure-white;
   transition: background 0.2s ease;
}

.count-button:hover {
  background-color: $orange-hover;
  
}

.count-text {
  font-size: 24px;
  color: $pure-black; /* Цвет по умолчанию */
  text-align: center;
  margin: AUTO 0 AUTO;
  min-width: 20px;
}
.count-text-button {
  font-size: 16px;
  color: $pure-black; /* Цвет по умолчанию */
  text-align: center;
  margin: AUTO 1.5rem AUTO;
  min-width: 20px;
}
.active-text {
  color: $orange; /* Укажите нужный цвет для count > 0 */
}




.buttons-active {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: .1rem;
  height: 48px;
  width: 152px;
  border:2px solid $orange;

}