@import "src/shared/styles";
.popup-title{
  font-size: 28px;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-close{
  background: none;
}

.popup-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.popup {
  background: white;
  justify-content: center;
  padding: 40px;
  border-radius: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  
  text-align: center;
  justify-content: none;
  gap:3rem;
}
.row-input{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.popup-input{
  display: flex;
  flex-direction: column;
  gap:1rem;
}

.error-message {
  color: red;
  font-size: 12px;
}

@media(min-width:#{$br-tablet}px) {
.popup {
  background: white;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 652px;
  gap:0;
  text-align: center;
  justify-content: space-between;
}
}

@media(min-width:#{$br-desktop}px) {
.popup {
  background: white;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 652px;
  text-align: center;
  gap:0;
  justify-content: space-between;
}
}