@import "src/shared/styles";

.skeleton-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.skeleton-img {
  width: 280px;
  height: 272px; 
  background: linear-gradient(90deg, #bebebe 25%, #e0e0e0 50%, #bebebe 75%);
  background-size: 200% 100%;
  animation: shine 1.5s infinite;
}

@keyframes shine {
  0% {
    background-position: 200% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.skeleton-img-slider {
  width: 96%;
  height: 200px; 
  border-radius: 10px;
  background: #bebebe; /* Цвет фона для скелета */
  background: linear-gradient(90deg, #bebebe 25%, #e0e0e0 50%, #bebebe 75%);
  background-size: 200% 100%;
  animation: shine 1.5s infinite;
}

.skeleton-text {
  width: 100%;
  height: 20px; /* Высота текста */
}


@media(min-width:#{$br-tablet}px){
  .skeleton-img-slider {
    width: 96%;
    height: 300px; 
    border-radius: 10px;
    background: #bebebe; /* Цвет фона для скелета */
    background: linear-gradient(90deg, #bebebe 25%, #e0e0e0 50%, #bebebe 75%);
    background-size: 200% 100%;
    animation: shine 1.5s infinite;
  }
  .skeleton-img {
  width: 100%;
  height: 272px; 
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: #bebebe; /* Цвет фона для скелета */
  background: linear-gradient(90deg, #bebebe 25%, #e0e0e0 50%, #bebebe 75%);
  background-size: 200% 100%;
  animation: shine 1.5s infinite;
}

}

@media(min-width:#{$br-desktop}px){
  .skeleton-img-slider {
    width: 90%;
    height: 590px; 
    border-radius: 10px;
    background: #bebebe; /* Цвет фона для скелета */
    background: linear-gradient(90deg, #bebebe 25%, #e0e0e0 50%, #bebebe 75%);
    background-size: 200% 100%;
    animation: shine 1.5s infinite;
  }
  .skeleton-img {
  width: 100%;
  height: 272px; 
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: #bebebe; /* Цвет фона для скелета */
  background: linear-gradient(90deg, #bebebe 25%, #e0e0e0 50%, #bebebe 75%);
  background-size: 200% 100%;
  animation: shine 1.5s infinite;
}

}