@import "src/shared/styles";

.index-page {
  h1 {
    @extend %main;
  }
}
.menu-popup-info{
  padding:24px 0;
}
.menu-list{
  display: flex;
  flex-direction: column;
  padding: 0 ;
  margin: 0 auto;
  max-width: 1280px;
}
.invisible{
  display: none;
}
.menu-container{
  display: flex;
  flex-wrap:wrap;
  gap: 0px;
}
.menu-options{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.menu-label{
  text-align: left;
  font-size: 48px;
  font-weight: 600;
  color: white;
  margin: 4rem 1rem 2rem;
}

.menu-label-pizza{
  text-align: left;
  font-size: 48px;
  font-weight: 600;
  color: white;
  padding: 1rem 0 1.7rem 0;
}
.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 1rem;
  font-size:48px
}
.menu{
  background-image: url("/images/menu-item/pattern.png");
  background-color: #198f30;
  padding: 100px 0;
}



  @media(min-width:#{$br-tablet}px){
  .menu-container{
    display: flex;
    flex-wrap:wrap;
    gap: 40px;
  }

  .menu-list{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0 auto;
  max-width: 1280px;
}
.menu-label{
  margin: 4rem 0 2rem;
}

  }
  @media(min-width:#{$br-desktop}px){
    body{
  height: 100vh;
}
  .menu-container{
    display: flex;
    flex-wrap:wrap;
    gap: 45px;
    width: 1280px;
  }

  .menu-list{
  display: flex;
  flex-direction: column;
  padding: 0 0 50px 0;
  margin: 0 auto;
  max-width: 1280px;
}

  }