@import "@shared/styles";

.dropdown {
    position: absolute; // Оставляем абсолютное позиционирование
    background: white;
    z-index: 1000; // Чтобы быть поверх других элементов
    width: 100%; // Занимает всю ширину родителя
    height: 100vh;
    left: 0; // Прикрепляем к левой стороне
 
    right: 0; // Прикрепляем к правой стороне
    max-height: 0; // Изначально высота равна 0 (меню скрыто)
    overflow-y: scroll;
    overflow: hidden; // Скрывем содержание, выходящее за пределы
    transition: max-height 0.5s ease; // Плавный переход по высоте
    overflow-y: auto;
    &.show {
    max-height: 1000px;
    }
}
.overlay {
    display: flex;
    position: fixed; /* Заставляем подложку занимать весь экран */
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    z-index: 999; /* Убедитесь, что подложка выше остальных элементов */
}
.nav-img{
    gap: 1rem;
    display: flex;
    margin-left: 4rem;
    padding: 3rem 0;
}
.dropdown-list {
    list-style: none; // Убираем маркеры списка
    padding: 20px 20px 20px 20px;
    margin: 0; // Убираем внешние отступы
    background: white;
    display: grid;
    max-width: fit-content;
              justify-items: left;
          justify-content: left;
    gap:1rem;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
}

.dropdown-list a {
    padding: 10px 0; // Отступ для элементов списка
    cursor: pointer; // Указатель на курсоре
    @include font-styles('Nekst',400, .875rem, 1.0625rem, #333333);
}

.dropdown-list a:hover {
    @include font-styles('Nekst',400, .875rem, 1.0625rem, rgb(0, 0, 0));
}

.header-drop-menu__svg:hover path{
  cursor: pointer;
  
 stroke:var(--blue-hover);
}

.dropdown-btn {
    margin: 10px 0;

}


body.no-scroll {
    overflow: hidden; /* Блокирует прокрутку */
}

.dropdown-footer {
  display: flex;
  flex-direction: row;
  padding: 1rem 1rem 5rem 1rem;
  justify-content: space-between;
}

.dropdown__footer-label {
  color: orange;
  font-size: 18px;
}
.q-btn{
  text-align: left;
  align-items: left;
}
.text-center {
    text-align: left !important;
}
span{
  text-align: left;
}
.dropdown-link{
  color: black;
  font-size: large;
  text-align: left;
}
.dropdown__footer-text {
  color: black;
}

@media (min-width:768px) {

.overlay {
    display: flex;
    position: fixed; /* Заставляем подложку занимать весь экран */
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    z-index: 999; /* Убедитесь, что подложка выше остальных элементов */
}
}

@media (min-width:1244px) {
.overlay {
    display: none;
    position: fixed; /* Заставляем подложку занимать весь экран */
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    z-index: 999; /* Убедитесь, что подложка выше остальных элементов */
}
}
@media (min-width:1029px) {
  .dropdown-list {
      list-style: none; // Убираем маркеры списка
      padding: 20px 0 0 20px; // Убираем внутренние отступы
      margin: 0; // Убираем внешние отступы
      text-align: left;
                justify-items: left;
          justify-content: left;
  }

  .dropdown-list li {
      padding: 10px 0; // Отступ для элементов списка
      cursor: pointer; // Указатель на курсоре
  }
  .dropdown {

    height: 70vh;

    }
.overlay {
    display: none;
    position: fixed; /* Заставляем подложку занимать весь экран */
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    z-index: 999; /* Убедитесь, что подложка выше остальных элементов */
}
}

@media (min-width:1244px) {
    .overlay {
    display: none;
}

    .dropdown {
    display: none;
  }
    .burger {
        display: none; // Скрываем бургер при ширине экрана более 1288px
    }
  .dropdown-list {
      list-style: none; // Убираем маркеры списка
      padding: 40px 0 0 140px; // Убираем внутренние отступы
      margin: 0; // Убираем внешние отступы
    justify-items: left;
        justify-content: left;
  }
}