@import "src/shared/styles";

.cart__label{
    color:white;
    font-size: 48px;
    max-width: 100px;
}
.cart__content{
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.cart__adres-delivery{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.cart__label-small{
    font-size: 16px;
}

.cart__comment-textblock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .cart__comment-label{
        font-size: 16px;
    }
    .cart__comment-sublabel{
        font-size: 12px;
        color:#9B9B9B;
    }
}
.cart__customButton{
    padding: 14px 34px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    background:#FF991F;
    font-size: 16px;
    color: white;
    justify-content: center;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.cart__customButton:hover{
    background:#E17B00;
}
.cart{
    background-image: url("/images/menu-item/pattern.png");
    background-color: #198f30;
    padding:40px 0;
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

.cart__box{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 2rem;
}
.cart__radioButtons{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.cart__adres{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #fff;
    border-radius: 0px;
    height: fit-content;
    gap: 1rem;
       width: 100%;
    .cart__adres-street{
        display: inline-flex;
        gap:1rem;
           width: 100%;
                    flex: 1; /* Каждый input будет занимать равное пространство */
    min-width: 0;
    }

    .cart__adres-house{
        display: flex;
        flex-direction: row;
        gap:1rem;
        width: 100%;
         flex: 1; /* Каждый input будет занимать равное пространство */
    min-width: 0;
    }
}

@media(min-width:#{$br-tablet}px){
.cart__adres{
    border-radius: 0px;

}

.cart__content{
    display: flex;
    flex-direction: column;
        gap:2rem;
}
.cart{

    padding:40px 0;
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.cart__box{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 2rem;
}

  }
  @media(min-width:#{$br-desktop}px){
    .cart__adres{
    border-radius: 10px;

}
    .cart__box{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin: 3rem auto ;
    gap: 2rem;
}
.cart__content{
    display: flex;
    flex-direction: row;
    gap:2rem;
}
.cart{
    background-image: url("/images/menu-item/pattern.png");
    background-color: #198f30;

    display: flex;
    flex-direction: row;
    gap: 2rem;
}
  }