@import "src/shared/styles";

.notFound{
  background-image: url("/images/menu-item/pattern.png");
  background-color: #198f30;
  padding: 150px 250px 250px ;
  height: 100vh;
}
.notFound__button{
  padding: 12px 36px;   
   transition: background 0.3s ease, color 0.3s ease;
}


.notFound__block{
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap:5rem;
}

.notFound__block-img{
  margin-top: 50px;
  width: 510px;
  height: 410px;
}

.notFound__block-text{
  text-align: left;
  display: flex;
  flex-direction: column;
  gap:3rem;
}

.notFound__text-box{
  display: flex;
  flex-direction: column;
  gap:1rem;
}

.notFound__label{
  font-size: 48px;
  color: white;
}

.notFound__title{
  font-size: 36px;
  color: white;
}

.notFound__subtitle{
  font-size: 28px;
  color: white;
}