@import "@shared/styles";
.header{
    background-color:  $pure-white;
    gap:1rem;
    padding: 1.1rem;
}



.header__nav-text {
  @include font-styles('Nekst',500, 16px,none, $black-33);
  white-space: nowrap;
  &:hover{
    color: $green-hover;
  }
  &.active {
    color: $green-hover;

    .block {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background-color: $green-hover;
        transform: scaleX(1); // Показываем границу при активном состоянии
        transition: transform 0.3s ease;
      }

      // Стили для hover
      &:hover::after {
        transform: scaleX(1); // Линия остаётся при наведении
      }
    }
  }
}


.q-btn{
  font-size:12px;
}
.display-none{
  display: none;
}
  .visible{
    display: none;
  }
  .visible-line{
    display: none;
  }
.visible-line-tablet{
  display: none;
}
  .header__orange-text{
    color:$orange;
    font-size:18px;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 700;
    transition: color 0.2s ease;
  }

  .header__orange-text:hover{
    color:$orange-hover;

  }

  .header__text{
    color:$pure-black;
    font-size:12px;
  }

  .header__info-text-block{
    text-align: end;
  }
  @media (min-width: 768px) {
    .visible-line-tablet{
    display: flex;
    }

  }
  @media (min-width: 1244px) {
    .visible{

    display: inline;

  }
  .visible-line-tablet{
  display: flex;
}
    .visible-line{
    display: flex;
  }

  }
.simple-btn {
    position: relative;
  
    display: block;
    width: 78px;
    height: 44px;
    margin: 0;
    
    padding: 0;
  
    line-height: 120%;
    text-align: center;

    border-radius: 8px;
  
    @include font-styles('Nekst',700, 16px, 24px, $pure-white);
  
    transition: background-color .15s ease;
  
    @include hover {
      border-color:var(--blue);
  
      @include font-styles('Nekst',700, 16px, 24px, var(--blue));
  
    }
  
    @include mobile-active {
      --bg: var(--blue);
    }
  }
 


@media(min-width:768px) {
    .header__image{
        display: flex;
    }

    } 
      
@media(min-width:1244px){
    .simple-btn{
        margin: 0 5.2rem 0 2rem;
    }
    
    .header__title-text-block{
        max-width: 850px;
    }
    
    .header{
        gap: 1rem;
        background-color: $pure-white;
        max-width: 1300px;
        padding: 2rem 1rem 2rem 1rem;
        margin: auto;
    }
    .image-container {
        width: 950px; /* Ширина контейнера */
        height: 600px; /* Высота контейнера */
        
        margin-top: 3rem;
       
    }

    .header__title-text-gray{
        margin-bottom: 0;
    }
    
}
