/*   Font variables   */
$font-post-fix: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen-sans, ubuntu, cantarell, helvetica neue, sans-serif;
$f-montserrat: 'Montserrat', $font-post-fix;
$f-roboto: 'Roboto', $font-post-fix;

/* ui-step */
$step: 4;

/*   Color variables   */
$c-white: #FFF;
$c-black: #1D1D1D;
$c-gray: #EBEBF2;
$c-red: #FF3B30;
$red-ff:#fff0f0;
$c-green: #39E8A5;

$pure-white: #FFF;
$white:#F0F0F0;
$white-ee:#EEEEEE;

$orange:#FF991F;
$orange-hover:#E17B00;
$orange-fb:#FBE7CE;
$orange-f1:#f1dbb1;

$border-gray: #D8D8D8;
$pure-black:#000;
$black-33:#333333;

$gray-active:#696969;
$gray-subtitle:#9B9B9B;
$gray-ff:#FFFFFF66;
$gray-fe:#efefef;
$gray-be:#bebebe;
$gray-e0:#e0e0e0;

$green-bk:#198f30;
$green-hover:#009B3D;
$green-cd:#CDE5D2;
$green-01:#01350B;

$dark-blue: #020D37;
$deep-blue: #0432DF;
$ligth-blue: #1B4BFF;
$deep-blue-saturat: #CDD6F9;
$brave-yellow: #F59E00;
$brave-yellow-sature: #FCE2B3;
$description-dark: #4C526A;
$description-light: #ACAFB8;
$dark-blue-menu: #030B26;
$title-light: #EEE;
$production-bk: #FAFAFA;
$blue-saturat: #020D3780;


/*  BREAKPOINTS */
$br-mobile: 360;
$br-tablet: 768;
$br-desktop: 1244;
$br-desktop-max: 1920;

/* ui-index */
$ui-index-1: 1; // Для наползающих элементов в общем потоке
$ui-index-2: 2; // Для наползающих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для садбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 7000; // Для элементов, перекрывающих все
