@import "@shared/styles";
.cart-list{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 0px;
    max-height: fit-content;
}
.scrollDownmenu__cart-button{
  justify-content: center;
  gap: 0.5rem;
  display: inline-flex;
  bottom:10px;
  right:10px;
  color:white;
  padding: 11px;
  background-color: #FF991F;
  border-radius: 10px;
}
.invicible-price{
  display: none;
}

.cart {
  padding: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
  font-size:20px;
  font-weight: 500;
}

li {
  margin-bottom: 0.5rem;
}

.invicible{
  display:none;
  color:white;
}

.cart-list__name-block{
  display: flex;
  flex-direction: column;
}

.count-price{
  font-size:20px;
  font-weight: 500;
}

.cart-list__counter-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-list__item{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #D8D8D8;

    img{
        width: 80px;
        height: 80px;
        border-radius: 10px;
        border:1px solid #FF991F;
        overflow: hidden;
    }

    .cart-list__name{
        display: flex;
        flex-direction: column;
        gap:1rem;
        text-align: left;
    }

        .cart-list__counter {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center; /* центрирование по вертикали */
            min-width: 120px; /* Задайте достаточную ширину для счетчика */
            text-align: center;
            justify-content: space-between;
        }
}

.cart-list__bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    gap:1rem;
    .cart-list__bottom-total{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    .total-text{
        font-size: 24px;
        color:#FF991F;
    }
}



.count-quantity{
    min-width: 60px;
}

.count-price{
    min-width:197px;
}

@media (min-width: 768px) {
.cart-list__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #D8D8D8;
}

.cart-list__bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    
    .cart-list__bottom-total{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    .total-text{
        font-size: 24px;
        color:#FF991F;
    }
}

}

@media (min-width: 1244px) {

.cart-list__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #D8D8D8;
}
.cart-list{
    border-radius: 10px;
    background-color: #FFFFFF;
}

.cart-list__bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    width: 840px;
    .cart-list__bottom-total{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    .total-text{
        font-size: 24px;
        color:#FF991F;
        min-width: 150px;
    }
}

}
@media (min-width: 1440px) {

.cart-list__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 840px;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #D8D8D8;
}
}