@import "src/shared/styles";
  .forget__password{
    position: fixed;
    z-index: 2001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#01350B, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .popup__section{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
  }

  .popup-label{
    text-align: start;
    @include font-styles('Poppins',500, 1rem, 1.5rem, var(--description-dark));
  }
.popup__text {
  padding: 15px 40px;
  cursor: pointer;
  color: #000000; /* Измените на нужный цвет */
  border-radius: 10px;
  text-align: center;
  width: 100%;
}

.popup__logo-button {
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: relative; /* Для позиционирования внутренних элементов */
}

.icon_normal,
.icon_hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain; /* Чтобы изображение scale */
    background-repeat: no-repeat; /* Избегает повторения фона */
    transition: opacity 0.3s ease; /* Плавный переход для opacity */
}

.icon_normal {
    background-image: url("/images/headers/icon_LK.svg");
    opacity: 1; /* По умолчанию показываем первую иконку */
}

.icon_hover {
    background-image: url("/images/headers/icon_LK-green.svg");
    opacity: 0; /* Изначально скрываем вторую иконку */
}

/* При наведении изменяем opacity */
.popup__logo-button:hover .icon_normal {
    opacity: 0; /* Скрываем первую иконку */
}

.popup__logo-button:hover .icon_hover {
    opacity: 1; /* Показываем вторую иконку */
}

.popup__forget-button-block{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0 0 0;
}
.popup__text-forget{
  padding: 15px 0px;
  cursor: pointer;
  color: #000000; /* Измените на нужный цвет */
  border-radius: 10px;
  text-align: left;
}

.popup__text-forget-label{
  padding: 15px 0px;
  cursor: pointer;
  color: #FF991F; /* Измените на нужный цвет */
  border-radius: 10px;
  text-align: end;
}
.popup__button{
  padding: 14px 36px 14px 36px;
  background-color: #FF991F;
  color: white;
  border-radius: 10px;
  margin: 1rem 0;
}

.popup__close{
flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.popup__text.active {
  background-color: white; /* Измените на нужный цвет */
   text-align: center;
}

.popup__choose-block{
  background-color: #F0F0F0;
  border-radius: 10px;
  display: flex;
  padding: 5px;
  text-align: center;
  margin: 30px 0;
  justify-content: center;

}
  .popup-overlay {
    position: fixed;
    z-index: 2001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#01350B, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .error-message {
    color: red; // Цвет текста ошибки
    font-size: 12px; // Размер шрифта 
    text-align: left;
}

  .popup-content {
    background: var(--pure-white);
    background-image: url("/images/headers/pattern.svg");
    padding: 90px 20px;
    border-radius: 0px;
    overflow-y: auto;
    width: 100%;
    position: fixed;
    height: 100%;

  }
  
  .close-button {

    color: var(--description-dark);

  }

@media (min-width:#{$br-tablet}px) {
    .forget__password{
    position: fixed;
    z-index: 2001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#01350B, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .popup-overlay {
    position: fixed;
    z-index: 2001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#01350B, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .popup-content {
    background: var(--pure-white);
    background-image: url("/images/headers/pattern.svg");
    padding: 2rem 2.5rem;
    border-radius: 24px;
    width: 480px;
    height: fit-content;
  }
    .close-button {
    background: transparent;
    color: var(--description-dark);
    cursor: pointer;

  }

  }
  @media (min-width:#{$br-desktop}px) {
  .popup-overlay {
    background-color: rgba(#01350B, 0.8);
  }
  

  }