@import "@shared/styles";

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    border-radius: 20px;
    gap: 1.7rem;
    max-width: 300px;
      
    margin: 3rem 0 5rem 1.5rem;
    &__icon {
      width: 55px;
      height: 50px;
      margin: 20px 0 20px 20px;
    }
  
    &__text-box{
      display: flex;
      flex-direction: column;
      width: 18rem;
    }
  
    &__label {
      @include font-styles('Nekst',400, 14px, 24px, white);
    }
  
    &__text {
      @include font-styles('Nekst',400, 14px, 20px, white);
      position: absolute;
      bottom: 0;
    }
  }
  
  @media(min-width:#{$br-tablet}px) {
    .footer-logo {
  
      margin: 3rem 0 5rem 0rem;
    }
    .footer-logo__text {
      @include font-styles('Nekst',400, 14px, 20px, white);
      position:relative;
      bottom: 0;
    }
    } 
      
  @media(min-width:#{$br-desktop}px){
    .footer-logo {
  
      margin: 3rem 0 5rem 0rem;
    }
    }