@import "src/shared/styles";

.index-page {
  h1 {
    @extend %main;
  }
}

.menu-list{
  display: flex;
  flex-direction: column;
  padding: 0 ;
  margin: 0 auto;
  max-width: 1280px;
}

.swiper-slide{
      img{
    overflow: hidden;
    border-radius: 10px;
    }
}

.IndexSwiper{
  margin-left: auto;
  margin-right: auto;

}

.swiper-pagination{
  display: block;
  position: relative;
  top:5px;
  --swiper-pagination-color: white;
  --swiper-pagination-bullet-inactive-color: white;
  --swiper-pagination-bullet-inactive-opacity: 0.3;
  --swiper-pagination-bullet-opacity: 1;
}
.swiper-button-container-index {
  position: absolute;
  display: none;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 1310px;
  top:480px;
}
.swiper-button-prev-index {
                background-color: $pure-white;
                border-radius: 30px;
                color:transparent;
                display: block; 
                width: 48px; /* Ширина кнопок */
                height: 48px; 
                margin: 0 5rem;
                cursor:pointer;
                z-index: $ui-index-4; /* Обеспечение правильного наложения */
                background-image: url(/images/menu-item/arrow-left.svg);
                background-repeat: no-repeat;
                background-position: center; /* Центрирование изображения */
                
}


.swiper-button-next-index {
                background-color: $pure-white;
                display: block;
                color: transparent;
                cursor: pointer;
                border-radius: 30px;
                width: 48px; /* Ширина кнопок */
                height: 48px; /* Высота кнопок */
                z-index: $ui-index-4; /* Обеспечение правильного наложения */
                background-image: url(/images/menu-item/arrow-right.svg);
                background-repeat: no-repeat;
                background-position: center; /* Центрирование изображения */
}
.menu-container{
  display: flex;
  flex-wrap:wrap;
  gap: 0px;
}

.menu-label{
  text-align: left;
  font-size: 48px;
  font-weight: 600;
  color: $pure-white;
  margin: 4rem 1rem 2rem;
}

// .menu{
//   background-image: url("/images/menu-item/pattern.png");
//   background-color:$green-bk;
//   padding: 100px 0;
// }
  .swiper-button-next-index:hover, .swiper-button-prev-index:hover {
    background-color: #FF991F;
  }
.swiper-button-next,
.swiper-button-prev {
  display: flex;
}

  @media(min-width:#{$br-tablet}px){
  .swiper-pagination{
    display: block;
  }
  .menu-container{
    display: flex;
    flex-wrap:wrap;
    gap: 50px;
  }
.swiper-button-container-index {
  position: absolute;
  display: none;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 1310px;
  top:480px;
}
  .menu-list{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
}
.menu-label{
  margin: 4rem 0 2rem;
}

  }
  @media(min-width:#{$br-desktop}px){
  .menu-container{
    display: flex;
    flex-wrap:wrap;
    gap: 45px;
    width: 1280px;
    margin: 0 24px 0 0;
  }
  .swiper-img{
    //width: 1280px;
    //height: 590px;
    overflow: hidden;
    border-radius: 10px;

  }
  .swiper-pagination{
    display: none;
  }

.swiper-button-container-index {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 1200px;
  max-width: calc(99% - 130px);
  top:55vh;
}
  .menu-list{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
}

}
.swiper{
  width: 100%;

.swiper-button-container-index {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 1010px;
  top: 50vh;
}
.swiper-button-prev-index {
                background-color: $pure-white;
                border-radius: 30px;
                color:transparent;
                display: block; 
                width: 48px; /* Ширина кнопок */
                height: 48px; 
                margin: 0 -5rem;
                cursor:pointer;
                z-index: $ui-index-4; /* Обеспечение правильного наложения */
                background-image: url(/images/menu-item/arrow-left.svg);
                background-repeat: no-repeat;
                background-position: center; /* Центрирование изображения */
                
}


.swiper-button-next-index {
                background-color: $pure-white;
                display: block;
                color: transparent;
                cursor: pointer;
                border-radius: 30px;
                width: 48px; /* Ширина кнопок */
                height: 48px; /* Высота кнопок */
                z-index: $ui-index-4; /* Обеспечение правильного наложения */
                background-image: url(/images/menu-item/arrow-right.svg);
                background-repeat: no-repeat;
                background-position: center; /* Центрирование изображения */
}
}
@media(min-width:1520px){


.swiper-button-prev-index {
                background-color: $pure-white;
                border-radius: 30px;
                color:transparent;
                display: block; 
                width: 48px; /* Ширина кнопок */
                height: 48px; 
                margin: 0 -1rem;
                cursor:pointer;
                z-index: $ui-index-4; /* Обеспечение правильного наложения */
                background-image: url(/images/menu-item/arrow-left.svg);
                background-repeat: no-repeat;
                background-position: center; /* Центрирование изображения */
                
}


.swiper-button-next-index {
                background-color: $pure-white;
                display: block;
                color: transparent;
                cursor: pointer;
                border-radius: 30px;
                width: 48px; /* Ширина кнопок */
                height: 48px; /* Высота кнопок */
                z-index: $ui-index-4; /* Обеспечение правильного наложения */
                background-image: url(/images/menu-item/arrow-right.svg);
                background-repeat: no-repeat;
                background-position: center; /* Центрирование изображения */
}

.swiper-button-container-index {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 1310px;
  top:480px;
}

}
