@import "src/shared/styles";
.input__container{
 position: relative;              /* Создаем относительное положение для контейнера */
  display: inline-block; 
  width: 100%;
}

.input-label{
    color:black;
    font-weight: normal;
    font-size: 16px;
}

.input-label-small{
    color:black;
    font-weight: normal;
    font-size: 12px;
}

.input{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: .6rem;
      width: 100%;
}

.input-text{
    padding: 13px 16px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid #d8d8d8;

}

.input-subtext{
    color:#9B9B9B ;
    font-size: 12px;
    text-align: start;
}

.input__show-img{
  width: auto;
  height: auto;
}


.input-text:hover {
    border: 1px solid rgb(105, 105, 105);
    transition:border  0.3s ease-in-out;
}

.input-text:focus {
    border: 1px solid green;
    transition:border  0.3s ease;
}

.input-text::placeholder {
    transition: color 0.3s ease; /* Плавный переход для цвета placeholder */
}

.input-text:focus::placeholder {
    display:none;
}

.hide-button{
  display:none;

}

.show-button {
    display: flex;
    position: absolute;              /* Абсолютное позиционирование для кнопки */
    right: 10px;                    /* Отступ от правого края */
    top: 50%;                       /* Центрирование по вертикали */
    transform: translateY(-50%);    /* Компенсация вертикального центрирования */
    background: none;               /* Убираем фон */
    border: none;                   /* Убираем рамки */
    cursor: pointer;                /* Указываем, что это кнопка */
    padding: 0;   
    width: 40px; /* Установите фиксированную ширину */
    height: 40px; /* Установите фиксированную высоту */
    display: flex;
    align-items: center;
    justify-content: center;

}

.input-error {
    input{
        border: 1px solid red; // Красная рамка при ошибке
        background-color: #fff0f0; // Светлый фон для ошибки
        color: red; // Цвет текста при ошибке
    }
    .input-text::placeholder {
    color: red; /* Цвет placeholder при фокусе */
    }
    .input-text:hover {
    border: 1px solid red;
    transition:border  0.3s ease-in-out;
}

.input-text:focus {
    border: 1px solid red;
    transition:border  0.3s ease;
}
      input[type="password"]:not(:placeholder-shown) {
    font-size: 23px;
    font-family: Verdana;
    letter-spacing: 1.45px;
    max-height: 50px;
    color: red;
    padding-right: 55px;
  }

}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type="password"]:not(:placeholder-shown) {
    font-size: 23px;
    font-family: Verdana;
    letter-spacing: 1.45px;
    max-height: 50px;
    color: #009b3d;
    padding-right: 55px;
  }
}