@import "src/shared/styles";

.customButton{
    padding: 14px 34px;
    display: flex;
    background:$orange;
    font-size: 16px;
    color: $pure-white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    &.disabled {
        background-color: $border-gray; // Цвет фона для отключенной кнопки
        cursor: not-allowed; // Курсор для отключенной кнопки
        opacity: 0.6; // Прозрачность для отключенной кнопки
        &:hover{
            background:$border-gray;
        }
  }
}

.customButton:hover{
    background:$orange-hover;
}

.customButton__reverse{
    display: flex;
    padding: 14px 34px;
    border-radius: 10px;
    color:$orange;
    border:1px solid $orange;
    background:$pure-white;
    font-size: 16px;
    justify-content: center;
    align-items: center;
   transition: background-color 0.3s ease;
}

.customButton__reverse:hover{
    background:$orange-hover;
    color: $pure-white;
    border:1ps solid $orange-hover;
}