@import "src/shared/styles";
.popup__close {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    justify-content: end;
    /* margin-right: auto; */
}
.popup-content {
        background: var(--pure-white);
        background-image: none;
        padding: 2rem 2.5rem;
        border-radius: 24px;
        width: 100%;
        height: 100%;
    }
.header__telephone-text{
  color:#333333;
  font-size: 18px;
  font-weight: 700;
}
.header__telephone-subtext{
  color:#9B9B9B;
  font-size: 12px;

}

.swiper-pagination{
  position: relative;
  margin: 10px;
  --swiper-pagination-color: white;
  --swiper-pagination-bullet-inactive-color: #ffffff;
  --swiper-pagination-bullet-inactive-opacity: 0.3;
  --swiper-pagination-bullet-opacity: 1;
}

.swiper {
    width: 90%;
    border-radius: 10px;
}
.carrer{
  background-image: url("/images/menu-item/pattern.png");
  background-color: #198f30;
  padding: 150px 50px 50px ;
}
.carrer__body{
  display:flex;
  flex-direction: column;
  gap:5rem;
  margin: auto;
  max-width: 1280px;

}

.carrer__video{
  display: flex;
  max-width: 1280px;
  padding: 16px;
  background-color: white;
  border-radius: 10px;
}

.carrer__welcome{
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  gap: 3rem;

}

.carrer__welcome-label{
  color:white;
  font-size: 48px;
  font-weight: bold;
}

.carrer__welcome-card-block{
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.carrer__welcome-text-block{
  display: flex;
  max-width: 620px;
  flex-direction: column;
  color:white;
  font-size: 16px;
  font-weight: medium;
  text-align: left;
  padding: 1rem;
  gap: 1rem;

}
.carrer__slider{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:3rem;
}
.carrer__slider-img-block{
  display: flex;
  flex-direction: row;
}
.carrer__slider-img{
  display: none;
}

.carrer__comments{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.carrer__comments-label{
  color: white;
  font-size: 36px;

}

.carrer__comments-reply{
  display: flex;
  align-items: end;
  justify-content: end;

}

.carrer__comments-add-text{
  color: white;
  background-color:#FFFFFF66;
  border-radius: 16px;
  padding: 4px;
  margin: auto;
  text-align: center;
  align-self: baseline;
}

.carrer__head-hunter{
  display: flex;
  flex-direction: column;
  gap:3rem;
  align-items: center;
}

.carrer__head-hunter-text-block{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 40px;
  color: white;
  font-weight: 500;
  gap:1rem;
}

.carrer__head-hunter-img{
  display: none;
}
.button-desctop{
  display: none;
}
.button-tablet{
  display:none;
}


.swiper-button-next,
.swiper-button-prev {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

@media(min-width:780px){
  .carrer__head-hunter-text-block{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 32px;
  color: white;
  font-weight: 500;
  gap:0.5rem;
}

.popup-content {
        background: var(--pure-white);
        background-image: none;
        padding: 2rem 2.5rem;
        border-radius: 24px;
        width: 100%;
        height: 100%;
    }
  .carrer{
  background-image: url("/images/menu-item/pattern.png");
  background-color: #198f30;
  padding: 150px 50px 50px ;
}
.carrer__head-hunter{
  flex-direction: row;
}
.button-tablet{
  display:block;
}
.carrer__video{
  display: flex;
  max-width: 1280px;
  padding: 26px;
  background-color: white;
  border-radius: 10px;
}

.swiper {

    border-radius: 10px;
}
.button-desctop{
  display: none;
}
.carrer__welcome-card-block{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.carrer__welcome-text-block{
  font-size: 16px;
  max-width: 300px;
}

.carrer__head-hunter-img{
  display: flex;
}

.swiper-button-prev {
  background-color: white;
  border-radius: 30px;
  position: relative;
  bottom: 300px;
  left: -640px;
  width: 48px; /* Ширина кнопок */
  height: 48px; /* Высота кнопок */
  z-index: 10; /* Обеспечение правильного наложения */
  background-image: url(/images/menu-item/arrow-left.svg);
  background-repeat: no-repeat;
}
.swiper-button-next {
  background-color: white;
  position: relative;
  bottom: 325px;
  left: 640px;
  border-radius: 30px;
  width: 48px; /* Ширина кнопок */
  height: 48px; /* Высота кнопок */
  z-index: 10; /* Обеспечение правильного наложения */
  background-image: url(/images/menu-item/arrow-right.svg);
  background-repeat: no-repeat;
}
}

@media(min-width:1200px){
.popup-content {
        background: var(--pure-white);
        background-image: none;
        padding: 2rem 2.5rem;
        border-radius: 24px;
        width: fit-content;
        height: fit-content;
    }
.button-desctop{
  display: block;
}

.carrer__video{
  display: flex;
  max-width: 1280px;
  padding: 40px;
  background-color: white;
  border-radius: 20px;
}
.swiper-button-prev {
  background-color: white;
  border-radius: 30px;
  width: 48px; /* Ширина кнопок */
  height: 48px; /* Высота кнопок */
  z-index: 10; /* Обеспечение правильного наложения */
  background-image: url(/images/menu-item/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: center; /* Центрирование изображения */
  background-size: 24px 24px; /* Вы можете изменить размер изображения, если необходимо */
}
.swiper-paggination{
  position: absolute;
  top: 10px;
}
.swiper-button-next {
  display: flex;
  background-color: white;
  border-radius: 30px;
  width: 48px; /* Ширина кнопок */
  height: 48px; /* Высота кнопок */
  z-index: 10; /* Обеспечение правильного наложения */
  background-image: url(/images/menu-item/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center; /* Центрирование изображения */
  background-size: 24px 24px; /* Вы можете изменить размер изображения, если необходимо */
}
.slider-card-info{
    overflow: hidden;
  border-radius: 10px;
  width: 1280px; /* Ширина кнопок */

}

.swiper {
    margin-left: 0;
    margin-right: 0;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}
.swiper{
    width: 1420px;
    border-radius: 10px;
    justify-items: center;
}
.carrer__slider-img{
  display: flex;
}
.carrer__head-hunter-img{
  display: flex;
}
.carrer__head-hunter{
  flex-direction: row;
}
.button-tablet{
  display:block;
}

.carrer__welcome-text-block{
  font-size: 28px;
  max-width: 600px;
}
.swiper-button-next{
  display: flex;
  background-color: white;
  border-radius: 30px;
  width: 48px; /* Ширина кнопок */
  height: 48px; /* Высота кнопок */
  z-index: 10; /* Обеспечение правильного наложения */
  font-weight: 700;
  transition: background-color 0.3s ease;
  background-image: url(/images/menu-item/arrow-right.svg);
  background-repeat: no-repeat;
}
.swiper-button-prev{
  display: flex;
  background-color: white;
  border-radius: 30px;
  width: 48px; /* Ширина кнопок */
  height: 48px; /* Высота кнопок */
  z-index: 10; /* Обеспечение правильного наложения */
  font-weight: 700;
  transition: background-color 0.3s ease;
  background-image: url(/images/menu-item/arrow-left.svg);
  background-repeat: no-repeat;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #FF991F;
}

}